<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theme.keyboardthemeapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeyboardThemeApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".UI.Activities.DictionaryActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.TranslatorActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.TextArtActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.FancyTextActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.QuotesActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.ViewJokeQuoteActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.JokesActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.MoreSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activities.SetDefaultKeyboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activities.MainActivity"
            android:exported="false" />

        <service
            android:name=".KeyboardService.HindiKeypad"
            android:exported="false"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
                <action android:name="android.intent.action.SEND" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/myime" />
        </service>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

</manifest>